<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension point="com.change_vision.astah.ui.actionSets">
      <actionSet
            label="%action_set_label"
            visible="true"
            id="doutorado.doutorado.actionSet">
         <menu
               id="doutorado"
               label="%menu_group"
               path="tool/doutorado">
         </menu>
         <action
			   label="%menu_label"
               icon="icons/sample.gif"
               class="plugin.TemplateAction"
               tooltip="%menu_tooltip"
               menubarPath="tool/doutorado/"
               id="doutorado">
         </action>
     </actionSet>
   </extension>
</plugin>
