<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension point="com.change_vision.astah.ui.actionSets">
      <actionSet
            label="%action_set_label"
            visible="true"
            id="projeto01.projeto.actionSet">
         <menu
               id="projeto"
               label="%menu_group"
               path="tool/projeto">
         </menu>
         <action
        label="%count_classes" 
        class="plugin.TemplateAction"
        tooltip="Count classes" 
        menubarPath="tool/projeto/"
        id="projeto.TemplateAction">
      </action>
      
         <action
        label="%valida" 
        class="plugin.ValidaAction"
        tooltip="valida classes" 
        menubarPath="tool/projeto/"
        id="projeto.ValidaAction">
        </action>      
     </actionSet>   
   </extension>   
     
   <extension point="com.change_vision.astah.ui.actionSets">
   
     <actionSet
            label="segundomenu"
            visible="true"
            id="segundomenu">
            
         <menu
               id="component"
               label="Basic Component"
               path="tool/component">
         </menu>
     
     
       <action
        label="New" 
        class="plugin.TemplateBasicComponentAction"
        tooltip="BasicComponent" 
        menubarPath="tool/component/"
        id="novoComponent">
      </action>
      
      
     </actionSet>
     
   
     
   </extension>
   
   
   <extension point="com.change_vision.astah.ui.actionSets">
   
     <actionSet
            label="terceiromenu"
            visible="true"
            id="terceiromenu">
            
         <menu
               id="Hcomponent"
               label="Hierarchical Component"
               path="tool/Hcomponent">
         </menu>
     
     
       <action
        label="New" 
        class="plugin.TemplateHierarchicalComponentAction"
        tooltip="HierarchicalComponent" 
        menubarPath="tool/Hcomponent/"
        id="novoHComponent">
      </action>
      
      
     </actionSet>
     
   
     
   </extension>
   
   
   
   
   <extension point="com.change_vision.astah.ui.view">
        <view
            id="plugin.HelloWorldView"
            type="extraTab"
            class="plugin.HelloWorldView" />
   </extension>
   
   
   <extension point="com.change_vision.astah.ui.view">
        <view
            id="plugin.TabContrato"
            type="extraTab"
            class="plugin.TabContrato" />
   </extension>
   
   
   
   
</plugin>
 
